<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="page-wrapper">
      {% include header.html %}

      <main class="page-content" aria-label="Content">
        <div class="content-Wrapper"></div>

            <div class="caption">
                {% if page.caption %}
                  <h1 class="page-heading">{{ page.caption }}</h1>
                {% endif %}
            </div>

          {{ content }}
          
        </div>
      </main>
  </div>

    {% include footer.html %}

  </body>

</html>
